body{
    margin: 1rem 20rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mt-5{
    margin-top: 5rem;
}

.letter-container{
    display: flex;
}

.centralize{
    display: flex;
    align-items: center;
    justify-content: center;
}